@use '/src/styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: colors.$BG;

  .mainWrapper {
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    width: inherit;
    height: inherit;

    h1 {
      display: block;
      margin-bottom: 20px;
      font-size: 34px;
      font-weight: 700;
      line-height: 54.4px;
      text-align: center;
      letter-spacing: -0.612px;
    }
  }
}
@media (max-width: 480px) {
  .app {
    .mainWrapper {
      h1 {
        font-size: 1.25rem;
        line-height: 1.6;
      }
    }
  }
}
