@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  @include flexbox.flexbox(center, center);
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: colors.$BG;
}
