@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.searchWrapper {
  min-width: 660px;

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 20px 0 20px 24px;
    background-color: colors.$WHITE;
    border-radius: 30px;

    .reactIcons {
      margin-right: 12px;
    }

    .searchInput {
      display: flex;
      width: 500px;
      height: 100%;
      font-size: 18px;
      font-weight: 400;

      ::placeholder {
        color: colors.$PLACEHOLDER_TEXT;
      }
    }

    .btn {
      padding: 18px 32px;
      margin-left: 12px;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.6;
      color: colors.$WHITE;
      letter-spacing: -0.018em;
      cursor: pointer;
      background-color: colors.$THEME_COLOR;
      border-width: 0;
      border-radius: 0 42px 42px 0;
    }
  }
}
@media (max-width: 480px) {
  .searchWrapper > .searchBar > form > input {
    font-size: 1em;
  }
}
