@use 'styles/mixins/flexbox';
@use 'styles/constants/colors';
@use 'styles/mixins/responsive';

.searchWrapper {
  width: 90%;
  height: 46px;

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    padding: 20px 0 20px 24px;
    font-size: 1em;
    background-color: colors.$WHITE;
    border-radius: 30px;

    .reactIcons {
      margin-right: 12px;
    }

    .searchInput {
      width: 86%;
      font-size: inherit;
      font-weight: 400;

      ::placeholder {
        color: colors.$PLACEHOLDER_TEXT;
      }

      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }

      /* 크롬의 경우 */
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
    }

    .btn {
      width: 6em;
      height: inherit;
      margin-left: 12px;
      font-size: inherit;
      font-weight: 700;
      line-height: 1.6;
      color: colors.$WHITE;
      letter-spacing: -0.018em;
      cursor: pointer;
      background-color: colors.$THEME_COLOR;
      border-width: 0;
      border-radius: 0 42px 42px 0;
    }
  }
}

@include responsive.after(MD) {
  .searchWrapper {
    width: 660px;
    height: 64px;

    .searchBar {
      font-size: 1.2em;
    }
  }
}
